body{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-image: url(Assets/Fondovete.jpg);
    text-shadow: black;
    font-weight:900;
}
main{

    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: min-content;
    background-image: url(Assets/patitatriangular.jpg);
    background-position: center;
    border: black 1px solid;
    border-radius: 10px;
}
form{
    border: black dashed 0.5px;
    border-radius: 20px;
    background: whitesmoke;
    height: min-content;
    width: 500px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-position: center;
    border-bottom: none;

}
footer{
    background: black;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
}
footer, a:hover{
    color: grey;
}
h1{
    text-decoration: underline  black 0.5px;
    text-shadow: black;
}
h2{
    text-decoration: underline black 0.5px
}
h3{
    text-decoration: underline black 0.5px
}
h4{
    text-decoration: underline black 0.5px
}
textarea{
    border-radius: 10px;
    border: black dashed 0.3px;
}